<!DOCTYPE html>
<html>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href={{ asset('icons/favicon.ico') }} >

        {% block styleSheets %}
            {{ encore_entry_link_tags('app')}}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
        {% endblock %}
        {% block javaScript %}
            {{ encore_entry_script_tags('app')}}
        {% endblock %}



        <body class="d-flex flex-column">

     {{ include('partials/_header.html.twig') }}
    <div class="app-content flex-fill d-flex flex-row-nowrap justify-content-center">
        <div  class="content d-flex flex-row-nowrap flex-fill py-50">



            {{ include('partials/_sidebar.html.twig') }}
                <div class="flex-fill ">

                {% block body %}{% endblock %}
                </div>
            </div>

        </div>
     {% for cat, list in app.flashes %}
        {% for message in list %}
     <div class="flash flash-{{ cat }}">{{ message }}</div>
        {% endfor %}
     {% endfor %}
     {{ include('partials/_footer.html.twig') }}

    </body>
</html>
